<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://camel.apache.org/schema/cxf"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
        http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
       ">

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route id="wsRoute">
			<from uri="cxf:bean:productServiceEndpoint" />
			<bean ref="productServiceImpl" />
		</route>
		<route id="wsClient">
			<from uri="direct:start" />
			<to
				uri="cxf:bean:productServiceEndpoint?defaultOperationName=getProductDetails&amp;headerFilterStrategy=#cxfHeaderFilterStrategy" />
		</route>
	</camelContext>

	<bean id="productServiceImpl" class="com.javacodegeeks.camel.ProductServiceImpl"/>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" />

	<cxf:cxfEndpoint id="productServiceEndpoint"
		address="http://localhost:${port1}/productService" serviceClass="com.javacodegeeks.ws.product_service.Product" />

	<bean id="cxfHeaderFilterStrategy" class="org.apache.camel.component.cxf.common.header.CxfHeaderFilterStrategy">
		<property name="messageHeaderFilters">
			<list>
				<bean class="com.javacodegeeks.camel.CxfHeaderFilter" />
			</list>
		</property>	
	</bean>
	
</beans>